button{
  position: fixed;
  bottom: 50px;
  right: 50px;
}


.sectionPrincipal{
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.card-title{
  margin-bottom: 25px;
}

.button{
  display: flex;
  gap: 10px;
}

