<div class="row mt-3">
  <div class="col-12">
    <h1>Personajes <small>- sin Señales (Tradicional)</small></h1>
    <hr>
  </div>

  <div class="col-12">
    <section class="sectionPrincipal">
      <div class="card" style="width: 18rem;" *ngFor="let item of character">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <div class="button">
            <a class="btn btn-primary">Ver mas</a>
          </div>
        </div>
     </div> 
    </section>
  </div>
</div>

